body {
   width: 80%;
   margin: auto
}

header,
footer {
   background-color: #192841;
   color: #f4f4f4;

   font-family: "Comic Sans MS";
   font-size: 20px;
   text-align: center;
   border-radius: 10px;
}

header {
   padding: 0.5rem;
}

footer {
    padding: 1rem;
}

footer a:visited {
    color:#f4f4f4;;
}

img {
   position: relative;
   bottom: 115px;
   float: right;
   margin: 15px;
   box-shadow: 2px 2px 5px grey;
}



