* {
    margin: 0;
    padding: 0;
}

body {
   width: 80%;
   margin: auto;
   margin-bottom: 400px;
}

.container {
    background-color: whitesmoke;
    font-family: 'Courier Prime', monospace;
}

header,
footer {
   background-color: #192841;
   color: lightgray;
   text-align: center;
   border-radius: 10px;

   /* font-family: 'Courier Prime', monospace; */
   /*font-family: "Comic Sans MS";*/ 
   /* try serif for headings and sans serif for body text
   text-align: center;
   border-radius: 10px; */
}

h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1rem;
}

header {
   padding: 0.5rem;
   font-size: 24px;
}

nav {
    margin: auto;
    padding: 2rem;
    line-height: 1.5rem;
}

hr {
    border-top: 3px solid lightgray;
}

footer {
    padding: 1rem;
    margin-top: 10%;
    font-size: 20px;
}

#portal_heading {
    color: #192841;
    margin: 15px;
}

a {
    color: steelblue;
}

a:active {
    color: lightcoral;
}

/*
a:visited {
    color: lightsteelblue;
}
*/

header img {
   /* position: relative; */
   margin: 15px;
   box-shadow: 3px 3px 10px grey;
   border-radius: 5px;
}



