@media only screen and (min-width: 38em) {

    nav {
        flex: 2; /* child of header */
    }

	.navigation {
        display: flex; /* parent */
	}
	.navigation li {
		display: block; 
		flex: 1 1 auto;
	}
	.navigation a {
		text-align: center;
	}
	.navigation li:first-child {
		display: none;
	}
}