@media only screen and (min-width: 60em) {

    nav {
        width: 80%;
        margin: auto;
    }

    footer {
        width: 78%;
        margin: auto;
    }

    .cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

}