@media only screen and (min-width: 60em) {
    
    nav ul li a{
        font-size: 1.5rem;
    }

	/* section {
		grid-template-columns: repeat(4, 1fr);
    } */
    
    article:nth-child(3) {
        width: 74%;
        margin: auto;
    }
	
}